<footer class="site-footer">

  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }} LLC</li>
          <li><a style="color:white;" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a style="color:white;" href="tel:{{ site.phone }}">{{site.phone}}</a></li>
          <li><a style="color:white;" href="https://www.google.com/maps/place/Blackstone+Trial+Analytics,+LLC/@38.8455086,-77.308786,17z/data=!4m13!1m7!3m6!1s0x89b64e9258c0f639:0x8b562a5f57d8c1fd!2s4023+Chain+Bridge+Rd,+Fairfax,+VA+22030!3b1!8m2!3d38.8455044!4d-77.306592!3m4!1s0x89b64e9258a70b3d:0xe493038f03702b46!8m2!3d38.8455111!4d-77.3065893">{{site.address}}</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
