<!DOCTYPE html>
<html>
{% include head.html %}



  <body>

  {% if page.title == 'Blackstone Trial Analytics' %}
<div class="hack" style=" background: url(Court.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	{% else %}
	<div class="hack">
	{% endif %}
    {% include header.html %}

	
    <div class="page-content" >

	{% if page.title == 'Blackstone Trial Analytics' %}
      <div class="wrapper awrapper">
	  {% else %}
	  <div class="wrapper">
	  {%endif%}
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
</div>
  </body>
</html>
