<!DOCTYPE html>
<html>
{% include head.html %}


{% if page.layout == 'default' %}
  <body style=" background: url(Court.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
{% else %}
 <body>
{% endif %}
<div class="hack">
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
</div>
  </body>
</html>
